# [教學目標]
- 知道 DataFrame 如何檢視欄位的型態數量以及各欄型態, 以及 Label Encoding / One Hot Encoding 如何寫?

# [範例重點]
- 檢視 DataFrame 的資料型態 (In[3], In[4])
- 了解 Label Encoding 如何寫 (In[6])
- 了解 One Hot Encoding 如何寫 (In[7])

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

檢視資料中各個欄位類型的數量

In [3]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

檢視資料中類別型欄位各自類別的數量

In [4]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

#### Label encoding
有仔細閱讀[參考資料](https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621)的人可以發現，Label encoding 的表示方式會讓同一個欄位底下的類別之間有大小關係 (0<1<2<...)，所以在這裡我們只對有類別數量小於等於 2 的類別型欄位示範使用 Label encoding，但不表示這樣處理是最好的，一切取決於欄位本身的意義適合哪一種表示方法

In [6]:
from sklearn.preprocessing import LabelEncoder

In [9]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    print('col:', col, 'dtype:', app_train[col].dtype)
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

col: SK_ID_CURR dtype: int64
col: TARGET dtype: int64
col: NAME_CONTRACT_TYPE dtype: int32
col: CODE_GENDER dtype: object
col: FLAG_OWN_CAR dtype: int32
col: FLAG_OWN_REALTY dtype: int32
col: CNT_CHILDREN dtype: int64
col: AMT_INCOME_TOTAL dtype: float64
col: AMT_CREDIT dtype: float64
col: AMT_ANNUITY dtype: float64
col: AMT_GOODS_PRICE dtype: float64
col: NAME_TYPE_SUITE dtype: object
col: NAME_INCOME_TYPE dtype: object
col: NAME_EDUCATION_TYPE dtype: object
col: NAME_FAMILY_STATUS dtype: object
col: NAME_HOUSING_TYPE dtype: object
col: REGION_POPULATION_RELATIVE dtype: float64
col: DAYS_BIRTH dtype: int64
col: DAYS_EMPLOYED dtype: int64
col: DAYS_REGISTRATION dtype: float64
col: DAYS_ID_PUBLISH dtype: int64
col: OWN_CAR_AGE dtype: float64
col: FLAG_MOBIL dtype: int64
col: FLAG_EMP_PHONE dtype: int64
col: FLAG_WORK_PHONE dtype: int64
col: FLAG_CONT_MOBILE dtype: int64
col: FLAG_PHONE dtype: int64
col: FLAG_EMAIL dtype: int64
col: OCCUPATION_TYPE dtype: object
col: CNT_FAM_MEMBERS dtype: float64
col: REGION_RATING_CLIENT dtype: int64
col: REGION_RATING_CLIENT_W_CITY dtype: int64
col: WEEKDAY_APPR_PROCESS_START dtype: object
col: HOUR_APPR_PROCESS_START dtype: int64
col: REG_REGION_NOT_LIVE_REGION dtype: int64
col: REG_REGION_NOT_WORK_REGION dtype: int64
col: LIVE_REGION_NOT_WORK_REGION dtype: int64
col: REG_CITY_NOT_LIVE_CITY dtype: int64
col: REG_CITY_NOT_WORK_CITY dtype: int64
col: LIVE_CITY_NOT_WORK_CITY dtype: int64
col: ORGANIZATION_TYPE dtype: object
col: EXT_SOURCE_1 dtype: float64
col: EXT_SOURCE_2 dtype: float64
col: EXT_SOURCE_3 dtype: float64
col: APARTMENTS_AVG dtype: float64
col: BASEMENTAREA_AVG dtype: float64
col: YEARS_BEGINEXPLUATATION_AVG dtype: float64
col: YEARS_BUILD_AVG dtype: float64
col: COMMONAREA_AVG dtype: float64
col: ELEVATORS_AVG dtype: float64
col: ENTRANCES_AVG dtype: float64
col: FLOORSMAX_AVG dtype: float64
col: FLOORSMIN_AVG dtype: float64
col: LANDAREA_AVG dtype: float64
col: LIVINGAPARTMENTS_AVG dtype: float64
col: LIVINGAREA_AVG dtype: float64
col: NONLIVINGAPARTMENTS_AVG dtype: float64
col: NONLIVINGAREA_AVG dtype: float64
col: APARTMENTS_MODE dtype: float64
col: BASEMENTAREA_MODE dtype: float64
col: YEARS_BEGINEXPLUATATION_MODE dtype: float64
col: YEARS_BUILD_MODE dtype: float64
col: COMMONAREA_MODE dtype: float64
col: ELEVATORS_MODE dtype: float64
col: ENTRANCES_MODE dtype: float64
col: FLOORSMAX_MODE dtype: float64
col: FLOORSMIN_MODE dtype: float64
col: LANDAREA_MODE dtype: float64
col: LIVINGAPARTMENTS_MODE dtype: float64
col: LIVINGAREA_MODE dtype: float64
col: NONLIVINGAPARTMENTS_MODE dtype: float64
col: NONLIVINGAREA_MODE dtype: float64
col: APARTMENTS_MEDI dtype: float64
col: BASEMENTAREA_MEDI dtype: float64
col: YEARS_BEGINEXPLUATATION_MEDI dtype: float64
col: YEARS_BUILD_MEDI dtype: float64
col: COMMONAREA_MEDI dtype: float64
col: ELEVATORS_MEDI dtype: float64
col: ENTRANCES_MEDI dtype: float64
col: FLOORSMAX_MEDI dtype: float64
col: FLOORSMIN_MEDI dtype: float64
col: LANDAREA_MEDI dtype: float64
col: LIVINGAPARTMENTS_MEDI dtype: float64
col: LIVINGAREA_MEDI dtype: float64
col: NONLIVINGAPARTMENTS_MEDI dtype: float64
col: NONLIVINGAREA_MEDI dtype: float64
col: FONDKAPREMONT_MODE dtype: object
col: HOUSETYPE_MODE dtype: object
col: TOTALAREA_MODE dtype: float64
col: WALLSMATERIAL_MODE dtype: object
col: EMERGENCYSTATE_MODE dtype: object
col: OBS_30_CNT_SOCIAL_CIRCLE dtype: float64
col: DEF_30_CNT_SOCIAL_CIRCLE dtype: float64
col: OBS_60_CNT_SOCIAL_CIRCLE dtype: float64
col: DEF_60_CNT_SOCIAL_CIRCLE dtype: float64
col: DAYS_LAST_PHONE_CHANGE dtype: float64
col: FLAG_DOCUMENT_2 dtype: int64
col: FLAG_DOCUMENT_3 dtype: int64
col: FLAG_DOCUMENT_4 dtype: int64
col: FLAG_DOCUMENT_5 dtype: int64
col: FLAG_DOCUMENT_6 dtype: int64
col: FLAG_DOCUMENT_7 dtype: int64
col: FLAG_DOCUMENT_8 dtype: int64
col: FLAG_DOCUMENT_9 dtype: int64
col: FLAG_DOCUMENT_10 dtype: int64
col: FLAG_DOCUMENT_11 dtype: int64
col: FLAG_DOCUMENT_12 dtype: int64
col: FLAG_DOCUMENT_13 dtype: int64
col: FLAG_DOCUMENT_14 dtype: int64
col: FLAG_DOCUMENT_15 dtype: int64
col: FLAG_DOCUMENT_16 dtype: int64
col: FLAG_DOCUMENT_17 dtype: int64
col: FLAG_DOCUMENT_18 dtype: int64
col: FLAG_DOCUMENT_19 dtype: int64
col: FLAG_DOCUMENT_20 dtype: int64
col: FLAG_DOCUMENT_21 dtype: int64
col: AMT_REQ_CREDIT_BUREAU_HOUR dtype: float64
col: AMT_REQ_CREDIT_BUREAU_DAY dtype: float64
col: AMT_REQ_CREDIT_BUREAU_WEEK dtype: float64
col: AMT_REQ_CREDIT_BUREAU_MON dtype: float64
col: AMT_REQ_CREDIT_BUREAU_QRT dtype: float64
col: AMT_REQ_CREDIT_BUREAU_YEAR dtype: float64
0 columns were label encoded.

#### One Hot encoding
pandas 中的 one hot encoding 非常方便，一行程式碼就搞定

In [10]:
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())
print(app_train['CODE_GENDER_M'].head())
print(app_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

可以觀察到原來的類別型欄位都轉為 0/1 了

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [17]:
app_train = pd.read_csv(f_app_train)
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [19]:
"""
Your Code Here
"""

sub_train_new = pd.get_dummies(sub_train)

print(sub_train_new.shape)
sub_train_new.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0